Package: com.KJCracks.ClutchDev
Name: Clutch (Dev)
Version: 1.4-3
Architecture: iphoneos-arm
Maintainer: ttwj
Depends: zip
Description: Fast cracking utility for iPhone, iPod and iPad
Section: Utilities

